body {
    background: #f9f8f7;
    font-family: 'Josefin Sans', sans-serif;
}

.navbar {
    background-color: #FAF4EA !important;
}

.logo {
    height: 60px;
}

.profile-icon {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 2px solid #8b5c51;
    padding: 5px;
}

h3 {
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
    color: #6F3636;
}

/* menu offcanvas */

.offcanvas {
    width: 45%;
    background-color: #FAF4EA;
    color: #6F3636;
}

.offcanvas-title {
    font-size: 1.5rem;
}

.d-block {
    font-size: 1.3rem;
    color: #6F3636;
}

/* Carrossel */
.highlight-card {
    background: #FAF4EA;
    padding: 10px;
    border-radius: 20px;
    width: 90%;
    margin: auto;
    height: auto;
}

.highlight-card img {
    border-radius: 20px;
    width: 100%;
    height: 170px;
    object-fit: cover;
}

.recipe-title {
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    color: #6F3636;
}

/* Cards pequenos */
.small-card {
    background: #FAF4EA;
    border-radius: 20px;
    padding: 15px;
    display: flex;
    gap: 10px;
    width: 90%;
    height: 180px;
    margin: 20px auto;
    align-items: center;
}

.small-card img {
    width: 190px;
    height: 130px;
    object-fit: cover;
    border-radius: 15px;
}

.small-card-title {
    color: #6F3636;
    font-weight: bold;
    font-size: 1rem;
}

p {
    color: #6F3636;
}

.conteudo-card {
    height: 150px;
    width: 150px;
}

/* Tira bordas do carrossel */
.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(1);
}

.carousel-control-prev-icon {
    margin-left: 1px;
    margin-right: auto;
}

.carousel-control-next-icon {
    margin-left: auto;
    margin-right: 1px;
}