body {
    background: #f9f8f7;
    font-family: 'Josefin Sans', sans-serif;
}

.navbar {
    background-color: #F2E8D8 !important;
}

.logo {
    height: 60px;
}

.profile-icon {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 2px solid #8b5c51;
    padding: 5px;
}

h3 {
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
    color: #6F3636;
}

/* menu offcanvas */

.offcanvas {
    width: 45%;
    background-color: #F2E8D8;
    color: #6F3636;
}

.offcanvas-title {
    font-size: 1.5rem;
}

.d-block {
    font-size: 1.3rem;
    color: #6F3636;
}

/* Carrossel */
.highlight-card {
    background: #F2E8D8;
    padding: 10px;
    border-radius: 20px;
    width: 90%;
    margin: auto;
    height: auto;
}

.highlight-card img {
    border-radius: 20px;
    width: 100%;
    height: 170px;
    object-fit: cover;
}

.recipe-title {
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    color: #6F3636;
}

/* Cards pequenos */
.small-card {
    background: #F2E8D8;
    border-radius: 20px;
    padding: 15px;
    display: flex;
    gap: 10px;
    width: 90%;
    height: 180px;
    margin: 20px auto;
    align-items: center;
}

.small-card img {
    width: 190px;
    height: 130px;
    object-fit: cover;
    border-radius: 15px;
}

.small-card-title {
    color: #6F3636;
    font-weight: bold;
    font-size: 1rem;
}

p {
    color: #6F3636;
}

.conteudo-card {
    height: 150px;
    width: 150px;
}

/* Tira bordas do carrossel */
.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(1);
}

.carousel-control-prev-icon {
    margin-left: 1px;
    margin-right: auto;
}

.carousel-control-next-icon {
    margin-left: auto;
    margin-right: 1px;
}

/* pagina das receitas (cuscuz, bolo de cenoura) */

.container-receitas {
    width: 90%;
    height: auto;
    margin: 25px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-receitas img {
    width: 100%;
    border-radius: 25px;
    box-shadow: 2px 2px 6px rgba(108, 71, 71, 0.96);
}

.container-ingredientes {
    background-color: #F2E8D8;
    width: 100%;
    height: auto;
    border-radius: 25px;
    padding: 12px;
    margin-top: 20px;
    box-shadow: 2px 2px 6px rgba(108, 71, 71, 0.96);
}

.titulo-receita {
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
    color: #6F3636;
}

.container-ingredientes h4 {
    margin: 25px 0 22px 0;
    text-align: center;
    color: #6F3636;
    font-weight: bold;
}

li {
    font-size: 1.2rem;
    color: #6F3636;
}

.modo-de-preparo {
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 12px;
    margin-top: 12px;
    color: #6F3636;
}

.container-ingredientes p {
    font-size: 1.2rem;
}

.container-ingredientes li {
    margin-top: 20px;
}
